.group {
  width: 3.75rem;
}
.group .header {
  width: 100%;
}
.group .header .van-nav-bar {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
}
.group .header .van-nav-bar .van-icon img {
  width: .3rem;
  margin-left: .1rem;
}
.group .main {
  width: 100%;
  padding: 0.18rem 0 0 0.18rem;
}
.group .main .title {
  font-size: 0.18rem;
  font-weight: 500;
}
.group .main .more {
  padding: 0.2rem 0;
  text-align: center;
  color: #42bd56;
  font-size: 0.18rem;
  margin-bottom: 0.2rem;
}
.group .main .tab2 li {
  border-bottom: 1px solid #ccc;
  padding-top: 0.15rem;
}
.group .main .tab2 li p {
  font-size: 0.15rem;
  color: #ccc;
  padding: 0.15rem 0;
  line-height: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group .main .tab2 li .tab2-top {
  display: flex;
}
.group .main .tab2 li .tab2-top .icon {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.1rem;
}
.group .main .tab2 li .tab2-top .icon img {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.1rem;
}
.group .main .tab2 li .tab2-top .info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.15rem;
}
.group .main .tab2 li .tab2-top .info span:nth-of-type(2) {
  color: #ccc;
  padding-right: 0.08rem;
}
